# Práctica 3: Novena prueba

Importamos las librerías necesarias.

In [1]:
from collections import Counter
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

from matplotlib import pyplot as plt

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score

from imblearn.over_sampling import SMOTE

from sklearn.neighbors import LocalOutlierFactor

### Funciones auxiliares

In [2]:
def grafica(data, label, title, xlab, ylab):
    plt.plot(data,label, c='b')
    plt.title(title)
    plt.xlabel(xlab)
    plt.ylabel(ylab)

    plt.show()

def graf_barras(data, label, title, xlab, ylab):
    fig, ax = plt.subplots()
    ax.bar(data, label, color='c')
    ax.set_title(title)
    ax.set_xlabel(xlab)
    ax.set_ylabel(ylab)

## Lectura de datos

Leemos los datos:

In [3]:
datos = pd.read_csv("datos/train.csv", na_values=["?"])
test = pd.read_csv("datos/test.csv", na_values=["?"])

year = pd.read_csv("datos/ao.csv", na_values=["?"])
asientos = pd.read_csv("datos/asientos.csv", na_values=["?"])
ciudad = pd.read_csv("datos/ciudad.csv", na_values=["?"])
combustible = pd.read_csv("datos/combustible.csv", na_values=["?"])
consumo = pd.read_csv("datos/consumo.csv", na_values=["?"])
descuento = pd.read_csv("datos/descuento.csv", na_values=["?"])
kilometros = pd.read_csv("datos/kilometros.csv", na_values=["?"])
mano = pd.read_csv("datos/mano.csv", na_values=["?"])
motor_cc = pd.read_csv("datos/motor_cc.csv", na_values=["?"])
nombre = pd.read_csv("datos/nombre.csv", na_values=["?"])
potencia = pd.read_csv("datos/potencia.csv", na_values=["?"])
precio_cat = pd.read_csv("datos/precio_cat.csv", na_values=["?"])
tipo_marchas = pd.read_csv("datos/tipo_marchas.csv", na_values=["?"])

## Preprocesamiento

### Tratamiento de datos perdidos

Eliminamos la variable Descuento, que tiene muchos datos perdidos. Reindexamos y eliminamos la variable recien creada index. Eliminamos el resto de datos con valores perdidos.

In [4]:
p2_datos = datos.copy()
del(p2_datos['Descuento'])
p2_datos = p2_datos.dropna()
p2_datos = p2_datos.reset_index()
del(p2_datos['index'])
p2_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3946 non-null   float64
 1   Nombre        3946 non-null   object
 2   Ciudad        3946 non-null   object
 3   Año           3946 non-null   float64
 4   Kilometros    3946 non-null   float64
 5   Combustible   3946 non-null   object
 6   Tipo_marchas  3946 non-null   object
 7   Mano          3946 non-null   object
 8   Consumo       3946 non-null   object
 9   Motor_CC      3946 non-null   object
 10  Potencia      3946 non-null   object
 11  Asientos      3946 non-null   float64
 12  Precio_cat    3946 non-null   int64
dtypes: float64(4), int64(1), object(8)
memory usage: 400.9+ KB

## Paso de nombres a marcas

In [5]:
for i in range(len(nombre)):
    nombre["Nombre"].iloc[i] = nombre["Nombre"].iloc[i].split(' ')[0]

In [6]:
for i in range(len(p2_datos)):
    p2_datos["Nombre"].iloc[i] = p2_datos["Nombre"].iloc[i].split(' ')[0]

/home/patricia/.local/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

### Paso de valores categóricas a OneHotVectors

Nombre:

In [7]:
encNombre = OneHotEncoder(handle_unknown='ignore')
encNombre.fit(nombre["Nombre"].to_numpy().reshape(-1, 1))
aux = encNombre.transform(p2_datos["Nombre"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p2_datos["Nombre " + str(i)] = aux[i]
    
del(p2_datos['Nombre'])

Ciudad:

In [8]:
encCiudad = OneHotEncoder(handle_unknown='ignore')
encCiudad.fit(ciudad["Ciudad"].to_numpy().reshape(-1, 1))
aux = encCiudad.transform(p2_datos["Ciudad"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p2_datos["Ciudad " + str(i)] = aux[i]
    
del(p2_datos['Ciudad'])

Combustible:

In [9]:
encCombustible = OneHotEncoder(handle_unknown='ignore')
encCombustible.fit(combustible["Combustible"].to_numpy().reshape(-1, 1))
aux = encCombustible.transform(p2_datos["Combustible"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p2_datos["Combustible " + str(i)] = aux[i]
    
del(p2_datos['Combustible'])

Tipo_marchas:

In [10]:
encTipo_marchas = OneHotEncoder(handle_unknown='ignore')
encTipo_marchas.fit(tipo_marchas["Tipo_marchas"].to_numpy().reshape(-1, 1))
aux = encTipo_marchas.transform(p2_datos["Tipo_marchas"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p2_datos["Tipo_marchas " + str(i)] = aux[i]
    
del(p2_datos['Tipo_marchas'])

Mano:

In [11]:
encMano = OneHotEncoder(handle_unknown='ignore')
encMano.fit(mano["Mano"].to_numpy().reshape(-1, 1))
aux = encMano.transform(p2_datos["Mano"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p2_datos["Mano " + str(i)] = aux[i]
    
del(p2_datos['Mano'])

Consumo:

In [12]:
for i in range(len(p2_datos)):
    p2_datos["Consumo"].iloc[i] = float(p2_datos["Consumo"].iloc[i].strip(' kmlp'))

/home/patricia/.local/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Motor_CC:

In [13]:
for i in range(len(p2_datos)):
    p2_datos["Motor_CC"].iloc[i] = float(p2_datos["Motor_CC"].iloc[i].strip(' CC'))

Potencia:

In [14]:
for i in range(len(p2_datos)):
    p2_datos["Potencia"].iloc[i]= float(p2_datos["Potencia"].iloc[i].strip(' bhp'))

In [15]:
p2_datos["Consumo"] = p2_datos["Consumo"].astype(float)
p2_datos["Motor_CC"] = p2_datos["Motor_CC"].astype(float)
p2_datos["Potencia"] = p2_datos["Potencia"].astype(float)

In [16]:
p2_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3946 non-null   float64
 1   Año             3946 non-null   float64
 2   Kilometros      3946 non-null   float64
 3   Consumo         3946 non-null   float64
 4   Motor_CC        3946 non-null   float64
 5   Potencia        3946 non-null   float64
 6   Asientos        3946 non-null   float64
 7   Precio_cat      3946 non-null   int64
 8   Nombre 0        3946 non-null   float64
 9   Nombre 1        3946 non-null   float64
 10  Nombre 2        3946 non-null   float64
 11  Nombre 3        3946 non-null   float64
 12  Nombre 4        3946 non-null   float64
 13  Nombre 5        3946 non-null   float64
 14  Nombre 6        3946 non-null   float64
 15  Nombre 7        3946 non-null   float64
 16  Nombre 8        3946 non-null   float64
 17  Nombre 9        3946 non-null   float64
 18  Nombre 10       3946 non-null   float64
 19  Nombre 11       3946 non-null   float64
 20  Nombre 12       3946 non-null   float64
 21  Nombre 13       3946 non-null   float64
 22  Nombre 14       3946 non-null   float64
 23  Nombre 15       3946 non-null   float64
 24  Nombre 16       3946 non-null   float64
 25  Nombre 17       3946 non-null   float64
 26  Nombre 18       3946 non-null   float64
 27  Nombre 19       3946 non-null   float64
 28  Nombre 20       3946 non-null   float64
 29  Nombre 21       3946 non-null   float64
 30  Nombre 22       3946 non-null   float64
 31  Nombre 23       3946 non-null   float64
 32  Nombre 24       3946 non-null   float64
 33  Nombre 25       3946 non-null   float64
 34  Nombre 26       3946 non-null   float64
 35  Nombre 27       3946 non-null   float64
 36  Nombre 28       3946 non-null   float64
 37  Nombre 29       3946 non-null   float64
 38  Nombre 30       3946 non-null   float64
 39  Ciudad 0        3946 non-null   float64
 40  Ciudad 1        3946 non-null   float64
 41  Ciudad 2        3946 non-null   float64
 42  Ciudad 3        3946 non-null   float64
 43  Ciudad 4        3946 non-null   float64
 44  Ciudad 5        3946 non-null   float64
 45  Ciudad 6        3946 non-null   float64
 46  Ciudad 7        3946 non-null   float64
 47  Ciudad 8        3946 non-null   float64
 48  Ciudad 9        3946 non-null   float64
 49  Ciudad 10       3946 non-null   float64
 50  Combustible 0   3946 non-null   float64
 51  Combustible 1   3946 non-null   float64
 52  Combustible 2   3946 non-null   float64
 53  Combustible 3   3946 non-null   float64
 54  Combustible 4   3946 non-null   float64
 55  Tipo_marchas 0  3946 non-null   float64
 56  Tipo_marchas 1  3946 non-null   float64
 57  Mano 0          3946 non-null   float64
 58  Mano 1          3946 non-null   float64
 59  Mano 2          3946 non-null   float64
 60  Mano 3          3946 non-null   float64
dtypes: float64(60), int64(1)
memory usage: 1.8 MB

## Separación de objetivo y etiqueta

In [17]:
# Separamos las columnas con los datos de la etiqueta a predecir
cols = [col for col in p2_datos.columns if col not in ['Precio_cat']]
data = p2_datos[cols]
del(data['id'])
target = p2_datos['Precio_cat']

In [18]:
data

,Año,Kilometros,Consumo,Motor_CC,Potencia,Asientos,Nombre 0,Nombre 1,Nombre 2,Nombre 3,...,Combustible 1,Combustible 2,Combustible 3,Combustible 4,Tipo_marchas 0,Tipo_marchas 1,Mano 0,Mano 1,Mano 2,Mano 3
0,2012.0,83000.0,23.40,1248.0,74.00,5.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,2016.0,4800.0,20.51,998.0,67.04,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,2016.0,26000.0,25.32,1198.0,77.00,6.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,2013.0,56127.0,18.50,1197.0,80.00,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
4,2017.0,41981.0,18.70,1199.0,88.70,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,2012.0,60000.0,15.20,1968.0,140.80,5.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3942,2012.0,67200.0,15.04,1598.0,103.60,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3943,2014.0,83274.0,22.90,1248.0,74.00,5.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3944,2015.0,65743.0,20.14,1197.0,81.86,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3945,2013.0,75000.0,20.77,1248.0,88.80,7.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

## Identificación de outlayers

In [19]:
out_clf = LocalOutlierFactor(n_neighbors=2)
pred = out_clf.fit_predict(data)

index=[]
for i in range(len(pred)):
    if pred[i] == -1:
        index.append(i)
    
print(index)

[3, 4, 6, 10, 14, 16, 19, 27, 30, 38, 39, 41, 43, 44, 45, 46, 47, 51, 53, 55, 58, 62, 67, 79, 80, 86, 101, 102, 103, 106, 107, 112, 114, 116, 130, 132, 134, 136, 142, 143, 156, 158, 165, 170, 173, 179, 182, 183, 194, 198, 199, 201, 205, 207, 208, 216, 218, 219, 221, 223, 226, 228, 231, 232, 234, 242, 244, 245, 251, 256, 263, 267, 274, 277, 279, 283, 293, 294, 297, 299, 301, 308, 309, 310, 311, 313, 318, 330, 343, 347, 348, 351, 354, 357, 361, 365, 370, 385, 386, 388, 397, 398, 407, 410, 411, 412, 416, 418, 424, 434, 438, 446, 447, 448, 449, 452, 458, 461, 463, 465, 466, 467, 480, 482, 484, 486, 487, 491, 492, 496, 497, 498, 506, 507, 511, 516, 517, 520, 522, 523, 527, 530, 536, 537, 539, 541, 543, 544, 547, 550, 557, 563, 569, 575, 579, 582, 583, 587, 596, 597, 601, 605, 610, 611, 617, 624, 627, 630, 633, 638, 648, 649, 657, 660, 673, 675, 679, 680, 681, 682, 683, 684, 685, 687, 689, 690, 695, 700, 717, 718, 719, 720, 723, 725, 726, 732, 738, 741, 743, 747, 749, 751, 753, 774, 780, 782, 786, 788, 789, 790, 794, 795, 799, 804, 806, 816, 817, 818, 819, 820, 822, 826, 827, 832, 833, 837, 838, 839, 842, 851, 858, 866, 868, 871, 876, 883, 884, 887, 893, 894, 896, 898, 902, 905, 907, 920, 923, 931, 934, 938, 946, 949, 952, 954, 958, 961, 963, 967, 975, 976, 980, 982, 984, 987, 988, 989, 992, 994, 998, 1002, 1013, 1021, 1022, 1028, 1030, 1036, 1037, 1043, 1048, 1054, 1059, 1062, 1065, 1067, 1071, 1081, 1082, 1086, 1088, 1094, 1097, 1101, 1106, 1116, 1119, 1120, 1121, 1122, 1133, 1134, 1135, 1136, 1142, 1149, 1151, 1158, 1170, 1171, 1173, 1175, 1176, 1182, 1189, 1200, 1201, 1205, 1208, 1217, 1226, 1227, 1231, 1238, 1247, 1253, 1264, 1266, 1267, 1271, 1272, 1273, 1280, 1283, 1284, 1285, 1287, 1288, 1290, 1291, 1294, 1296, 1297, 1299, 1300, 1314, 1316, 1321, 1326, 1331, 1332, 1334, 1338, 1339, 1340, 1343, 1347, 1348, 1352, 1354, 1355, 1356, 1362, 1366, 1367, 1371, 1380, 1381, 1382, 1384, 1390, 1395, 1397, 1403, 1404, 1408, 1409, 1410, 1418, 1419, 1421, 1422, 1424, 1426, 1433, 1438, 1442, 1448, 1450, 1454, 1455, 1461, 1464, 1468, 1471, 1474, 1479, 1491, 1503, 1509, 1511, 1522, 1527, 1528, 1529, 1536, 1538, 1541, 1543, 1544, 1545, 1546, 1552, 1554, 1562, 1564, 1570, 1576, 1577, 1580, 1582, 1589, 1593, 1600, 1604, 1605, 1608, 1614, 1615, 1616, 1619, 1621, 1624, 1625, 1638, 1639, 1641, 1644, 1645, 1648, 1654, 1659, 1661, 1664, 1675, 1686, 1688, 1689, 1692, 1693, 1697, 1708, 1709, 1713, 1714, 1716, 1719, 1725, 1731, 1742, 1743, 1748, 1750, 1753, 1754, 1755, 1758, 1759, 1761, 1779, 1785, 1789, 1796, 1797, 1799, 1806, 1808, 1811, 1816, 1824, 1833, 1835, 1843, 1848, 1849, 1850, 1851, 1852, 1853, 1855, 1856, 1857, 1860, 1861, 1863, 1866, 1868, 1869, 1872, 1876, 1877, 1881, 1884, 1891, 1896, 1902, 1906, 1907, 1912, 1919, 1922, 1923, 1927, 1930, 1933, 1936, 1939, 1944, 1945, 1954, 1955, 1957, 1958, 1964, 1970, 1971, 1973, 1980, 1981, 1985, 1987, 1989, 1995, 1997, 2003, 2005, 2008, 2012, 2015, 2019, 2033, 2034, 2036, 2038, 2047, 2049, 2050, 2062, 2064, 2066, 2070, 2074, 2076, 2084, 2085, 2086, 2087, 2089, 2091, 2092, 2094, 2097, 2101, 2104, 2108, 2111, 2113, 2114, 2115, 2117, 2119, 2132, 2135, 2148, 2155, 2158, 2161, 2164, 2171, 2173, 2180, 2181, 2182, 2185, 2186, 2187, 2188, 2191, 2194, 2196, 2199, 2200, 2201, 2212, 2213, 2214, 2218, 2226, 2228, 2233, 2236, 2243, 2247, 2256, 2258, 2260, 2264, 2271, 2273, 2275, 2279, 2283, 2287, 2294, 2302, 2308, 2316, 2317, 2319, 2320, 2325, 2327, 2329, 2330, 2337, 2340, 2351, 2352, 2355, 2357, 2358, 2360, 2365, 2369, 2373, 2375, 2376, 2383, 2388, 2390, 2395, 2398, 2405, 2406, 2414, 2421, 2429, 2430, 2432, 2435, 2438, 2446, 2450, 2453, 2455, 2460, 2461, 2463, 2467, 2473, 2475, 2476, 2477, 2479, 2480, 2481, 2482, 2490, 2491, 2495, 2498, 2502, 2512, 2514, 2516, 2517, 2518, 2524, 2533, 2534, 2535, 2545, 2546, 2549, 2552, 2554, 2558, 2563, 2565, 2566, 2568, 2573, 2576, 2578, 2592, 2594, 2596, 2599, 2607, 2609, 2613, 2614, 2621, 2622, 2623, 2625, 2626, 2628, 2629, 2635, 2641, 2645, 2651, 2655, 2661, 2668, 2669, 2674, 2680, 2685, 2687, 2694, 2697, 2700, 2706, 2712, 2713, 2715, 2721, 2727, 2728, 2729, 2731, 2733, 2734, 2735, 2743, 2745, 2749, 2753, 2758, 2765, 2774, 2781, 2787, 2788, 2796, 2800, 2802, 2803, 2807, 2808, 2810, 2813, 2814, 2815, 2817, 2824, 2832, 2833, 2836, 2839, 2846, 2855, 2859, 2864, 2872, 2875, 2877, 2885, 2886, 2887, 2891, 2894, 2895, 2901, 2903, 2910, 2913, 2914, 2917, 2918, 2919, 2933, 2940, 2942, 2945, 2946, 2948, 2956, 2960, 2964, 2966, 2968, 2969, 2971, 2975, 2979, 2987, 2989, 2995, 2997, 2998, 3003, 3004, 3012, 3013, 3015, 3021, 3024, 3027, 3031, 3032, 3034, 3039, 3041, 3043, 3046, 3050, 3052, 3058, 3060, 3063, 3080, 3085, 3086, 3090, 3095, 3096, 3098, 3100, 3117, 3118, 3122, 3126, 3127, 3130, 3131, 3133, 3142, 3143, 3145, 3147, 3148, 3152, 3159, 3161, 3176, 3178, 3182, 3183, 3186, 3190, 3192, 3197, 3198, 3204, 3208, 3213, 3215, 3221, 3222, 3223, 3225, 3235, 3240, 3241, 3258, 3261, 3263, 3267, 3269, 3270, 3271, 3273, 3274, 3275, 3277, 3281, 3282, 3283, 3284, 3286, 3294, 3302, 3303, 3304, 3310, 3313, 3314, 3320, 3321, 3323, 3327, 3328, 3330, 3333, 3342, 3343, 3344, 3346, 3347, 3348, 3349, 3361, 3364, 3366, 3371, 3380, 3382, 3385, 3388, 3394, 3400, 3403, 3404, 3405, 3407, 3408, 3414, 3421, 3422, 3428, 3433, 3440, 3442, 3444, 3446, 3460, 3463, 3464, 3467, 3475, 3490, 3495, 3498, 3499, 3500, 3506, 3509, 3518, 3531, 3532, 3535, 3536, 3542, 3545, 3546, 3547, 3552, 3553, 3562, 3563, 3566, 3568, 3572, 3574, 3580, 3584, 3589, 3591, 3593, 3596, 3602, 3609, 3612, 3619, 3622, 3626, 3630, 3637, 3640, 3653, 3657, 3659, 3661, 3669, 3684, 3685, 3686, 3694, 3698, 3700, 3701, 3703, 3704, 3707, 3708, 3709, 3710, 3711, 3712, 3716, 3719, 3720, 3726, 3732, 3738, 3742, 3749, 3755, 3756, 3758, 3759, 3767, 3768, 3772, 3775, 3779, 3780, 3781, 3783, 3795, 3798, 3799, 3805, 3807, 3814, 3815, 3817, 3819, 3822, 3833, 3837, 3841, 3849, 3850, 3852, 3857, 3861, 3862, 3865, 3867, 3868, 3872, 3883, 3885, 3890, 3891, 3895, 3898, 3899, 3906, 3911, 3915, 3917, 3920, 3921, 3925, 3927, 3938, 3940, 3942]

In [20]:
data = data.drop(index)
target = target.drop(index)
data = data.reset_index()
del(data['index'])
data

,Año,Kilometros,Consumo,Motor_CC,Potencia,Asientos,Nombre 0,Nombre 1,Nombre 2,Nombre 3,...,Combustible 1,Combustible 2,Combustible 3,Combustible 4,Tipo_marchas 0,Tipo_marchas 1,Mano 0,Mano 1,Mano 2,Mano 3
0,2012.0,83000.0,23.40,1248.0,74.00,5.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,2016.0,4800.0,20.51,998.0,67.04,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,2016.0,26000.0,25.32,1198.0,77.00,6.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,2009.0,140000.0,17.80,1248.0,75.00,5.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,2011.0,60000.0,16.80,1497.0,118.00,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,2015.0,73204.0,24.07,998.0,67.10,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2891,2012.0,60000.0,15.20,1968.0,140.80,5.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2892,2014.0,83274.0,22.90,1248.0,74.00,5.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2893,2015.0,65743.0,20.14,1197.0,81.86,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2894,2013.0,75000.0,20.77,1248.0,88.80,7.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

## Normalizamos los datos

Normalizamos las variables numéricas.

Año:

In [21]:
scalerYear = MinMaxScaler()
scalerYear.fit(year["Año"].to_numpy().reshape(-1, 1))
aux = scalerYear.transform(data["Año"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Año"] = aux[0]

Kilómetros:

In [22]:
scalerKilometros = MinMaxScaler()
scalerKilometros.fit(kilometros["Kilometros"].to_numpy().reshape(-1, 1))
aux = scalerKilometros.transform(data["Kilometros"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Kilometros"] = aux[0]

Consumo:

In [23]:
for i in range(len(consumo)):
    consumo["Consumo"].iloc[i] = float(consumo["Consumo"].iloc[i].strip(' kmlp'))

scalerConsumo = MinMaxScaler()
scalerConsumo.fit(consumo["Consumo"].to_numpy().reshape(-1, 1))
aux = scalerConsumo.transform(data["Consumo"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Consumo"] = aux[0]

Motor_CC:

In [24]:
for i in range(len(motor_cc)):
    motor_cc["Motor_CC"].iloc[i]= float(motor_cc["Motor_CC"].iloc[i].strip(' CC'))

scalerMotor_CC = MinMaxScaler()
scalerMotor_CC.fit(motor_cc["Motor_CC"].to_numpy().reshape(-1, 1))
aux = scalerMotor_CC.transform(data["Motor_CC"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Motor_CC"] = aux[0]

Potencia:

In [25]:
for i in range(len(potencia)):
    potencia["Potencia"].iloc[i]= float(potencia["Potencia"].iloc[i].strip(' bhp'))

scalerPotencia = MinMaxScaler()
scalerPotencia.fit(potencia["Potencia"].to_numpy().reshape(-1, 1))
aux = scalerPotencia.transform(data["Potencia"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Potencia"] = aux[0]

Asientos:

In [26]:
scalerAsientos = MinMaxScaler()
scalerAsientos.fit(asientos["Asientos"].to_numpy().reshape(-1, 1))
aux = scalerAsientos.transform(data["Asientos"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
aux
data["Asientos"] = aux[0]

In [27]:
data

,Año,Kilometros,Consumo,Motor_CC,Potencia,Asientos,Nombre 0,Nombre 1,Nombre 2,Nombre 3,...,Combustible 1,Combustible 2,Combustible 3,Combustible 4,Tipo_marchas 0,Tipo_marchas 1,Mano 0,Mano 1,Mano 2,Mano 3
0,0.666667,0.012743,0.697674,0.198448,0.075694,0.5,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.857143,0.000712,0.611509,0.156261,0.062457,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,0.857143,0.003974,0.754919,0.190010,0.081400,0.6,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.523810,0.021513,0.530710,0.198448,0.077596,0.5,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.619048,0.009205,0.500894,0.240466,0.159376,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,0.809524,0.011236,0.717651,0.156261,0.062571,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2891,0.666667,0.009205,0.453190,0.319946,0.202739,0.5,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2892,0.761905,0.012785,0.682767,0.198448,0.075694,0.5,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2893,0.809524,0.010088,0.600477,0.189841,0.090643,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2894,0.714286,0.011512,0.619261,0.198448,0.103842,0.7,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

## Aplicamos Oversampling

In [28]:
data, target = SMOTE(random_state=15).fit_resample(data, target)

In [29]:
Counter(target)

Counter({3: 1313, 2: 1313, 4: 1313, 5: 1313, 1: 1313})

## Modelo

Modelo final:

In [30]:
# Vectores con los valores de las métricas
gb_clf = GradientBoostingClassifier(random_state=15, n_estimators=760, min_samples_leaf=8, learning_rate=0.1)
mlp_clf = MLPClassifier(random_state=15, hidden_layer_sizes=(300,300),activation='tanh',max_iter=800,early_stopping=True)
rf_clf = RandomForestClassifier(random_state=15, n_estimators=230, criterion = "entropy")

estimators = [('rf', rf_clf), ('mlp', mlp_clf), ('gb', gb_clf)]
st_clf = StackingClassifier(estimators=estimators, final_estimator=LogisticRegression(random_state=0, max_iter=400), n_jobs=4)
score = cross_val_score(st_clf, data, target, cv=5)

s = 0
for i in range(len(score)):
    s+= score[i]

print("La accuracy del modelo es: " + str(s/len(score)))

La accuracy del modelo es: 0.9348057882711348

## Predicción del test

Procesamos los datos de test de la misma manera que procesamos los de entrenamiento

In [31]:
p1_test = test.copy()
del(p1_test['Descuento'])
p1_test = p1_test.dropna()
p1_test = p1_test.reset_index()
del(p1_test['index'])
p1_test

,id,Nombre,Ciudad,Año,Kilometros,Combustible,Tipo_marchas,Mano,Consumo,Motor_CC,Potencia,Asientos
0,4820,Mercedes-Benz New C-Class C 220 CDI Avantgarde,H,2015,77771,Diesel,Automatic,First,19.27 kmpl,2143 CC,170 bhp,5.0
1,4821,Hyundai i10 Magna 1.1,J,2011,62000,Petrol,Manual,First,19.81 kmpl,1086 CC,68.05 bhp,5.0
2,4822,Ford Figo Diesel EXI,C,2010,129986,Diesel,Manual,Second,20.0 kmpl,1399 CC,68 bhp,5.0
3,4823,Maruti Swift Dzire VXI Optional,D,2015,49900,Petrol,Manual,First,20.85 kmpl,1197 CC,83.14 bhp,5.0
4,4824,Maruti Ritz VXI,J,2010,75319,Petrol,Manual,Second,21.1 kmpl,1197 CC,85.80 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1154,5974,Chevrolet Beat Diesel LT,G,2012,88000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0
1155,5975,Hyundai Verna CRDi,K,2010,72010,Diesel,Manual,First,16.8 kmpl,1493 CC,110 bhp,5.0
1156,5976,Mercedes-Benz A Class A180 CDI,J,2013,34000,Diesel,Automatic,Second,20.0 kmpl,2143 CC,107.3 bhp,5.0
1157,5977,BMW X1 M Sport sDrive 20d,B,2016,31000,Diesel,Automatic,First,17.05 kmpl,1995 CC,190 bhp,5.0
1158,5978,BMW 5 Series 2013-2017 530d M Sport,H,2015,65266,Diesel,Automatic,First,14.69 kmpl,2993 CC,258 bhp,5.0

### HotVectors

Nombre:

In [32]:
for i in range(len(p1_test)):
    p1_test["Nombre"].iloc[i] = p1_test["Nombre"].iloc[i].split(' ')[0]

/home/patricia/.local/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [33]:
aux = encNombre.transform(p1_test["Nombre"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p1_test["Nombre " + str(i)] = aux[i]
    
del(p1_test['Nombre'])

Ciudad:

In [34]:
aux = encCiudad.transform(p1_test["Ciudad"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p1_test["Ciudad " + str(i)] = aux[i]
    
del(p1_test['Ciudad'])

Combustible:

In [35]:
aux = encCombustible.transform(p1_test["Combustible"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p1_test["Combustible " + str(i)] = aux[i]
    
del(p1_test['Combustible'])

Tipo_marchas:

In [36]:
aux = encTipo_marchas.transform(p1_test["Tipo_marchas"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p1_test["Tipo_marchas " + str(i)] = aux[i]
    
del(p1_test['Tipo_marchas'])

Mano:

In [37]:
aux = encMano.transform(p1_test["Mano"].to_numpy().reshape(-1, 1)).toarray()
aux = pd.DataFrame(aux)

for i in range(aux.shape[1]):
    p1_test["Mano " + str(i)] = aux[i]
    
del(p1_test['Mano'])

### Pasar a numéricas las variables cuantitativas

Consumo:

In [38]:
for i in range(len(p1_test)):
    p1_test["Consumo"].iloc[i] = float(p1_test["Consumo"].iloc[i].strip(' kmlp'))

/home/patricia/.local/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Motor_CC:

In [39]:
for i in range(len(p1_test)):
    p1_test["Motor_CC"].iloc[i] = float(p1_test["Motor_CC"].iloc[i].strip(' CC'))

Potencia:

In [40]:
for i in range(len(p1_test)):
    p1_test["Potencia"].iloc[i]= float(p1_test["Potencia"].iloc[i].strip(' bhp'))

In [41]:
p1_test["Consumo"] = p1_test["Consumo"].astype(float)
p1_test["Motor_CC"] = p1_test["Motor_CC"].astype(float)
p1_test["Potencia"] = p1_test["Potencia"].astype(float)

### Normalizar:

In [42]:
aux = scalerYear.transform(p1_test["Año"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Año"] = aux[0]

In [43]:
aux = scalerKilometros.transform(p1_test["Kilometros"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Kilometros"] = aux[0]

In [44]:
aux = scalerConsumo.transform(p1_test["Consumo"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Consumo"] = aux[0]

In [45]:
aux = scalerMotor_CC.transform(p1_test["Motor_CC"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Motor_CC"] = aux[0]

In [46]:
aux = scalerPotencia.transform(p1_test["Potencia"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Potencia"] = aux[0]

In [47]:
aux = scalerAsientos.transform(p1_test["Asientos"].to_numpy().reshape(-1, 1))
aux = pd.DataFrame(aux)
p1_test["Asientos"] = aux[0]

### Entrenamos el modelo

In [48]:
ids = p1_test['id']
del(p1_test['id'])

In [49]:
# Vectores con los valores de las métricas
gb_clf = GradientBoostingClassifier(random_state=15, n_estimators=760, min_samples_leaf=8, learning_rate=0.1)
mlp_clf = MLPClassifier(random_state=15, hidden_layer_sizes=(300,300),activation='tanh',max_iter=800,early_stopping=True)
rf_clf = RandomForestClassifier(random_state=15, n_estimators=230, criterion = "entropy")

estimators = [('rf', rf_clf), ('mlp', mlp_clf), ('gb', gb_clf)]
st_clf = StackingClassifier(estimators=estimators, final_estimator=LogisticRegression(random_state=0, max_iter=400), n_jobs=4)

st_clf.fit(data, target)
predict = st_clf.predict(p1_test)

In [50]:
df_result = pd.DataFrame({'id': ids, 'Precio_cat': predict})
df_result.to_csv("p3_08.csv", index=False)

In [51]:
predict = pd.read_csv("p3_08.csv", na_values=["?"])

In [52]:
predict

        id  Precio_cat
0     4820           5
1     4821           2
2     4822           2
3     4823           3
4     4824           2
...    ...         ...
1154  5974           2
1155  5975           3
1156  5976           4
1157  5977           5
1158  5978           5

[1159 rows x 2 columns]